.task {
    position: relative;
    border-radius: 10px;
    
    
}

/*
.remove {
    position: absolute;
    margin-top: 7px;
    right: 10px;
}*/

.remove {
    position: absolute;
    transform: rotate(45deg);
    right: 10px;
    color:red;
    font-size: 1.5em;
    cursor: pointer;

}